// default full width column
%content-block {
  margin: 0 auto;
  padding: 0 2%;
  max-width: 58.75em;
}

.std-article{
  font-weight: 500;
  padding: 4em 0;
}

.std-article-content{
  @extend %content-block;
}


/******************************************************************************/
/* O que fazemos */
/******************************************************************************/
.services-article{
  @extend %content-block;
  text-align: center;
}


/******************************************************************************/
/* Quem somos */
/******************************************************************************/
.about-article{

  p{
    line-height: 1.2;
    @include rem(font-size, 22px);
    @include smooth();
  }
}


/******************************************************************************/
/* Clientes */
/******************************************************************************/
.clients-article{
  @extend %content-block;
  text-align: center;
}


/******************************************************************************/
/* Contato */
/******************************************************************************/
.contact-article{
  background: $grey url(../img/bg-contact.png) repeat 50% 0;
  background-attachment: fixed;
  padding-bottom: 12em;
}

.contact-article-content{
  text-align: center;
}

@media only screen and (min-width: 35em) { // 560px
  .contact-article-content{
    float: left;
    text-align: right;
    width: 46%;
    margin-right: 2em;
  }
}

@media only screen and (min-width: 48em) { // 768
  .std-article{
    padding: 15em 0;
  }

  .service-item{
    width: 23.5%;
  }

  .contact-article-content{
    padding-top: 3.5em;
  }
}

@media only screen and (min-width: 53.125em){ //850px
  .about-article p{
    max-width: 49%;
    margin-left: auto;
    margin-right: auto;
  }
}
