// FONT FACE
//
// @include font-face(Vegur, '../fonts/vegur-regular-webfont');
@include font-face(museo, '../fonts/Museo300-Regular-webfont');
@include font-face(museo, '../fonts/Museo500-Regular-webfont', 500);
@include font-face(museo, '../fonts/Museo700-Regular-webfont', 700);

.article-title{
  margin-bottom: 0.5em;
  text-align: center;
  font-weight: 500;
  @include rem(font-size, 48px);

  @media (min-width: 35em) {
    overflow: hidden;

    span{
      display: inline-block;
      position: relative;

      &:before, &:after {
        position: absolute;
        top: 50%;
        width: 1000px;
        height: 1px;
        content: '';
        background: $brand-red;
      }
      &:before {
        left: -1020px;
      }
      &:after {
        right: -1020px;
      }
    }
  }
}

.article-headline {
  @include rem(font-size, 21px);
  max-width: 24.762em;
  margin: 1em auto;
  text-align: center;
}
