$brand-red: #d60036;

$blue: #1d2540;
$grey: #e6e6e6;

$main-font-family: museo, sans-serif;
$main-font-color: $brand-red;
$main-link-color: $brand-red;

// controls
$mfp-include-arrows: false;
$mfp-include-iframe-type: false;
