@charset "UTF-8";

//*****************************************************************************/
// DEFAULT IMPORTS AND VARIABLES */
//*****************************************************************************/
@import "compass/css3";
@import "compass/utilities/sprites/base";

$default-transition-property : all;
$default-transition-duration : 0.3s;
$default-transition-function : ease-out;

//******************************************************************************/
// BASE VARIABLES - must be at the top of the file, before any partials  */
//*****************************************************************************/

@import "config/variables";

//*****************************************************************************/
// BASIC MIXINS */
//*****************************************************************************/

@import "base/rem";

//as seen on: https://github.com/ry5n/rem
//on using rem: http://snook.ca/archives/html_and_css/font-size-with-rem
//
// include syntax:
// (values should be declared as pixels or rem.
//  this mixin outputs the declared value and its related, converted unit.
//  em values will just output em values twice.  )
// @include rem($property, $values);
//
// examples:
// @include rem(font-size, 16px);
// @include rem(border, 1px solid #bff);
//
// Beware of using this mixing with font shorthand: if the statement contain
//commas - separating font families, it will not work;

@import "config/mixins";

// FONT SMOOTHING
//
// @include smooth();
//used on text that looks thicker on OSX. Generally this issue occurs on light
//text over a dark background.


// GRADIENTS
//
//@include linear-gradient(#from, #to);
//@include gradient-image(#from, #to, url(../img/img-url.png), pos-x pos-y);


// SPRITES
//
// @import "nomedapasta/*.png";
// @include all-nomedapasta-sprites( dimensions, offset-x, offset-y);
// ou
// @include nomedapasta-sprite(nomedaimagem, dimensions, offset-x, offset-y);

$sprite-spacing: 3px;
@import "sprite/*.png";


/* Reset / Normalize */
@import "base/reset";

/******************************************************************************/
/* STRUCTURE */
/******************************************************************************/

/* BASE STYLES - selection, links and chrome frame */

@include viewport();

@include selection($text-color: #fff);
// default values: $bg-color: $main-link-color, $text-color: $main-font-color;

@include placeholder-color($brand-red);
.placeholder{
  color: $brand-red;
}
// insert the color you want for the input placeholders and uncomment the line
// above.

a{
  color: $main-link-color;
  text-decoration: none;

  &:hover{
    //text-decoration: underline;
    //color: $main-link-color-hover;
  }

  &:visited{

  }
}

.goto-content{
  @extend %visuallyhidden;
}

img{
  max-width: 100%;
}

@import "base/scaffold";
@import "base/type";
@import "base/button";

@import "components/form";
@import "components/back-to-top";
@import "components/header";
@import "components/footer";
@import "components/service-list";
@import "components/service-image";
@import "components/client-list";
@import "components/contact-info";
@import "components/contact-form";
@import "components/square-grid";
@import "components/project-list";
@import "components/magnific-popup";


/* Helper Classes */
@import "base/helpers";

/* Print Styles */
@import "base/print";
